export JAVA_HOME=/nfs/home/share/chenchen/temurin-jdk21
export PATH=/nfs/home/share/chenchen/temurin-jdk21/bin:$PATH
export PATH=/nfs/home/share/chenchen/oss-cad-suite/bin:$PATH
export NOOP_HOME=$PWD
export NEMU_HOME=$PWD
